
body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(27,190,177,0.5) 0%, rgba(9,113,121,0.5) 39%, rgba(0,212,255,0.5) 100%);
    font-size: 0.8em;
    
    
}form{
    
    width: 65%; 
    padding: 5px;  
}
.screen{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.section{
    background-color: rgba(234, 228, 228, 0.2);
    position: relative;
    border-radius: 12px;
    border: 3px solid rgb(7, 92, 95);
    padding: 5px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
    
   
}

fieldset{
    
    border: 2px solid rgb(131, 219, 222);
    border-radius: 10px;
    position: relative;
    width: 90%;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    
}
input{
    width: 97%;
    padding: 3px;
    margin-top: 3px;
    margin-bottom: 2px;
    border-radius: 7px;
    box-shadow: 0px 0px 3px rgb(19, 19, 19);
    border-color: rgb(163, 237, 240);
    line-height: 1.5em;
    transition: all 1s linear;
    
}
input:hover{
border: 3px solid rgb(14, 88, 91);

}
label{
    color:black;
    font-weight: 600;
    margin-bottom: 2px;
    text-shadow: 0px 0px 0px 1px gray;
    font-size: 1.1em;
}
h2{
    background-color:orange;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 9px 8px;    
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 90%;
    color:white;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid rgb(142, 232, 235);
    font-size: 1.4em;
    
}::placeholder{
    color: cadetblue;
}
legend{
    color: greenyellow;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2em;
}
#nextbtn{
    width: 80px;
    height: 40px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 5px 5px 5px rgba(
        0,
        0,
        0,
        0.1
      ) inset;
      background-color: rgb(232, 164, 38);
      color: aliceblue;
      transition: all 1s linear;
      font-weight: 600;
      animation: heartbeat 1.5s ease-in-out infinite both;
}
#nextbtn:hover{
background-color: red;
box-shadow: 0px 0px 3px rgb(234, 112, 112);
}
#backbtn{
    width: 80px;
    height: 40px;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 5px 5px 5px rgba(
        0,
        0,
        0,
        0.1
      ) inset;
      background-color:green;
      color: aliceblue;
      transition: all 1s linear;
      font-weight: 600;
      animation: heartbeat 1.5s ease-in-out infinite both;
}
#backbtn:hover{
    background-color: red;
    box-shadow: 0px 0px 3px rgb(234, 112, 112);
    }
.btndiv{
    text-align:right;
    margin-top: 3px;
    padding-right: 12px;
}
#submitbtn{
    width: 120px;
    height: 40px;
    font-weight: 600;
    background-color: brown;
    color: aliceblue;
    box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.1),
    -5px -5px 5px rgba(255, 255, 255, 0.2) inset, 5px 5px 5px rgba(
        0,
        0,
        0,
        0.1
      ) inset;
      transition: all 1s linear;
      animation: heartbeat 1.5s ease-in-out infinite both;
      
}
#submitbtn:hover{
    background-color:blue;
    box-shadow: 0px 0px 4px rgb(126, 126, 241);
}
@keyframes heartbeat {
    from {
      
              transform: scale(1);
              transform-origin: center center;
              animation-timing-function: ease-out;
    }
    10% {
      
              transform: scale(0.91);
              animation-timing-function: ease-in;
    }
    17% {
            transform: scale(0.98);
            animation-timing-function: ease-out;
    }
    33% {
      
              transform: scale(0.87);
              animation-timing-function: ease-in;
    }
    45% {
      
              transform: scale(1);
             animation-timing-function: ease-out;
    }
  }
